@import "tailwindcss";

:root {
  --background: #020617; /* slate-950 */
  --foreground: #e2e8f0; /* slate-200 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #4f46e5; /* Indigo-600 */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4338ca; /* Indigo-700 */
}
